<a href="https://colab.research.google.com/github/kgudalewski/grailed_sales_analysis/blob/main/Grailed_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [196]:
import pandas as pd
import numpy as np

In [197]:
df_bmw = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/bmw.csv", encoding="utf-16")
df_budweiser = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/budweiser.csv", encoding = "utf-16")
df_corvette = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/corvette.csv",encoding="utf-16")
df_ferrari = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/ferrari.csv",encoding="utf-16")
df_formula_uno = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/formula_uno.csv",encoding="utf-16")
df_honda = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/honda.csv",encoding="utf-16")
df_lucky_strike = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/lucky_strike.csv",encoding="utf-16")
df_marlboro = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/marlboro.csv",encoding="utf-16")
df_mercedes = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/mercedes.csv",encoding="utf-16")
df_moto = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/moto.csv",encoding="utf-16")
df_nascar = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/nascar.csv",encoding="utf-16")
df_redbull = pd.read_csv("https://raw.githubusercontent.com/kgudalewski/grailed_sales_analysis/main/redbull.csv",encoding="utf-16")

In [198]:
frames = [df_bmw, df_budweiser, df_corvette, df_ferrari, df_formula_uno, df_honda, df_lucky_strike, df_marlboro, df_mercedes, df_moto, df_nascar, df_redbull]
df = pd.concat(frames)

In [199]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [200]:
df.head()

,title,link,size,condition,color,seller_name,designers,description,num_of_photos,num_of_tags,measurements,location,shipping_price,price,sold_price
0,BMW racing rare archive bomber 90s,https://www.grailed.com/listings/33705557-bmw-...,Men's / US XS / EU 42 / 0,Used,Black,Humanraceeei,Bmw Ã— Formula Uno Ã— Racing,bargaining is appropriate,2,0,0,Europe,10.00,$28,NaN
1,Mens Bomber Jacket Racing BMW F1 Size XL,https://www.grailed.com/listings/32948063-bmw-...,Men's / US XL / EU 56 / 4,Used,Blue,Casual_VntShop,Bmw Ã— Racing Ã— Vintage,Please see all photos\nBMW\nSize XL\nGood Vint...,9,0,1,Europe,21.43,$45,NaN
2,Motorsport Bomber Jacket Yamaha BMW PGA,https://www.grailed.com/listings/15194215-bmw-...,Men's / US M / EU 48-50 / 2,NaN,NaN,NaN,Bmw Ã— Bomber Jacket Ã— Yamaha,"Posted in Core almost 3 years ago, Bumped 6 mo...",8,0,0,NaN,NaN,$50,NaN
3,BMW E36 Jacket,https://www.grailed.com/listings/42982572-bmw-...,Men's / US M / EU 48-50 / 2,Gently Used,Blue,beaubier32,Bmw,BMW E36 Jacket\nFits like mens size medium\nVe...,5,0,0,US,NaN,$35,NaN
4,Vintage BMW Racing Jacket Williams F1 Team Hoo...,https://www.grailed.com/listings/42929894-bmw-...,Men's / US XL / EU 56 / 4,Gently Used,Blue white,DealHand,Bmw Ã— Formula Uno Ã— Vintage,BMW Racing Jacket F1 Team\n2003 s Vintage Mode...,16,10,1,Europe,NaN,$50,NaN

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19805 entries, 0 to 583
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           19794 non-null  object
 1   link            19805 non-null  object
 2   size            19794 non-null  object
 3   condition       19542 non-null  object
 4   color           19577 non-null  object
 5   seller_name     19571 non-null  object
 6   designers       19794 non-null  object
 7   description     19707 non-null  object
 8   num_of_photos   19805 non-null  int64
 9   num_of_tags     19805 non-null  int64
 10  measurements    19805 non-null  int64
 11  location        8412 non-null   object
 12  shipping_price  6837 non-null   float64
 13  price           11057 non-null  object
 14  sold_price      8737 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 2.4+ MB

In [202]:
df.columns

Index(['title', 'link', 'size', 'condition', 'color', 'seller_name',
       'designers', 'description', 'num_of_photos', 'num_of_tags',
       'measurements', 'location', 'shipping_price', 'price', 'sold_price'],
      dtype='object')

In [203]:
df = df.drop_duplicates(subset=['title', 'size', 'condition', 'color', 'seller_name',
       'designers', 'description', 'num_of_photos', 'num_of_tags',
       'measurements', 'location', 'shipping_price', 'price', 'sold_price']).reset_index(drop=True)
df = df.dropna(subset=["condition","color","seller_name","description"])

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15510 entries, 0 to 15747
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           15510 non-null  object
 1   link            15510 non-null  object
 2   size            15510 non-null  object
 3   condition       15510 non-null  object
 4   color           15510 non-null  object
 5   seller_name     15510 non-null  object
 6   designers       15510 non-null  object
 7   description     15510 non-null  object
 8   num_of_photos   15510 non-null  int64
 9   num_of_tags     15510 non-null  int64
 10  measurements    15510 non-null  int64
 11  location        6567 non-null   object
 12  shipping_price  5350 non-null   float64
 13  price           8630 non-null   object
 14  sold_price      6880 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 1.9+ MB

In [205]:
df.location.value_counts()

Europe      2743
Asia        2058
US           910
Other        676
Canada       135
shipping      37
UK             6
AU             2
Name: location, dtype: int64

In [206]:
df.loc[df.location == "shipping"].head()

,title,link,size,condition,color,seller_name,designers,description,num_of_photos,num_of_tags,measurements,location,shipping_price,price,sold_price
122,BMW M sport jacket,https://www.grailed.com/listings/40276682-bmw-...,Men's / US XL / EU 56 / 4,Gently Used,Black,dhirenkakkar,Bmw Ã— Racing Ã— Vintage,#VINTAGE\n#JACKET\n#SPRING\n#BLACK\n#SPORT\n#W...,9,0,0,shipping,NaN,$90,NaN
216,ðŸ”¥ BMW Motorcycles Protective Wear & Rain GearðŸ”¥,https://www.grailed.com/listings/42389714-bmw-...,Men's / US XL / EU 56 / 4,Used,Black blue,AAAABUNDLE,Bmw,ðŸ”¥ FINAL DROP ðŸ”¥ FINAL DROP ðŸ”¥\nTHANK YOU VERY MU...,6,0,0,shipping,NaN,$121,NaN
287,BMW RACING LEATHER JACKET MICHELIN GOODYEAR LA...,https://www.grailed.com/listings/42254825-bmw-...,Men's / US M / EU 48-50 / 2,Used,Blue,emanyapobi,Bmw Ã— Vintage,Posted in Core 19 days ago,2,0,0,shipping,NaN,$180,NaN
1121,Honda Onwards x Budweiser Racing Team Japan,https://www.grailed.com/listings/36596568-budw...,Men's / US L / EU 52-54 / 3,Gently Used,Red,BlackBrandedShop,Budweiser Ã— Honda Ã— Racing,Condition : Very Good Condition (9.5/10)\nMate...,13,5,1,shipping,NaN,$232,NaN
1415,Ferrari Mens Size XS Black Zip Up Collared Tra...,https://www.grailed.com/listings/42641180-ferr...,Men's / US XS / EU 42 / 0,Used,White,bwichezz,Ferrari,#XS\n#FERRARI,4,0,0,shipping,NaN,$20,NaN

In [207]:
list_of_links_to_set_loc = list(df.loc[df.location == "shipping"].link.values)

In [ ]:
list_of_links_to_set_loc

In [ ]:
list_of_locations_to_complete = ['Canada', 'Asia', 'UK', 'Asia', 'US', 'Canada', 'US', 'US', 'US', 'Europe', 'US', 'US', 'US', 'US', 'Canada', 'Asia', 'US', 'Asia', 'US', 'US', 'Asia', 'Canada', None, 'Canada', 'Asia', 'Asia', 'Asia', 'Asia', 'Asia', 'Other', 'Europe', 'Canada', 'US', 'UK', 'US', 'Canada', 'AU']

In [231]:
indexes = df.loc[df.location == "shipping"].index.to_list()

In [232]:
new_column = pd.Series(list_of_locations_to_complete, name='location', index=indexes)

In [233]:
df.update(new_column)

In [234]:
df.location.value_counts()

Europe      2745
Asia        2068
US           923
Other        677
Canada       142
UK             8
AU             3
shipping       1
Name: location, dtype: int64

In [240]:
df = df.drop(df.loc[df.location == "shipping"].index.to_list()).reset_index(drop=True)

In [241]:
df.location.value_counts()

Europe    2745
Asia      2068
US         923
Other      677
Canada     142
UK           8
AU           3
Name: location, dtype: int64

In [263]:
df.price = df.price.str.strip("$ (Sold, Price)")
df.sold_price = df.sold_price.str.strip("$")

In [271]:
df = df.astype(float,errors = "ignore")
df.dtypes

title              object
link               object
size               object
condition          object
color              object
seller_name        object
designers          object
description        object
num_of_photos     float64
num_of_tags       float64
measurements      float64
location           object
shipping_price    float64
price             float64
sold_price        float64
dtype: object

In [273]:
df.sold_price.mean()

122.7360465116279

In [272]:
df.price.mean()

157.5730675628694

In [274]:
df.loc[df.seller_name == "VintageRacingStuff"].sold_price.mean()

273.503355704698

In [275]:
df.loc[df.seller_name == "VintageRacingStuff"].price.mean()

264.5

In [276]:
df.to_csv("grailed_analysis_df.csv",encoding="utf-16")

In [81]:
df.loc[df.seller_name == "VintageRacingStuff"].head()

,title,link,size,condition,color,seller_name,designers,description,num_of_photos,num_of_tags,measurements,location,shipping_price,price,sold_price
614,ðŸ”¥Vintage BMW racing light jacket / sweatshirt,https://www.grailed.com/listings/22978330-bmw-...,Men's / US L / EU 52-54 / 3,Used,Navy blue,VintageRacingStuff,Bmw Ã— Racing Ã— Vintage,Vintage BMW light jacket / sweatshirt\nSIZE:\n...,8,10,1,NaN,NaN,NaN,$100
732,ðŸ”¥Vintage BMW COMPAQ racing motorcycle leather ...,https://www.grailed.com/listings/34236240-bmw-...,Men's / US XL / EU 56 / 4,Used,White / blue,VintageRacingStuff,Bmw Ã— Leather Jacket Ã— Vintage,Vintage BMW racing leather jacket\nSIZE:\nXXL ...,11,10,1,NaN,NaN,NaN,$190
749,ðŸ”¥Vintage BMW racing leather jacket,https://www.grailed.com/listings/28588866-bmw-...,Men's / US L / EU 52-54 / 3,Used,Black / blue,VintageRacingStuff,Bmw Ã— Racing Ã— Vintage,"Vintage BMW racing leather jacket\nSIZE:\nL ,m...",8,0,1,NaN,NaN,NaN,$190
760,ðŸ”¥Vintage BMW COMPAQ racing leather jacket,https://www.grailed.com/listings/25372102-bmw-...,Men's / US L / EU 52-54 / 3,Gently Used,Black / white / blue,VintageRacingStuff,Bmw Ã— Racing,Vintage BMW COMPAQ racing leather jacket\nSIZE...,10,5,1,NaN,NaN,NaN,$185
763,ðŸ”¥Vintage BMW COMPAQ racing leather jacket,https://www.grailed.com/listings/22978101-bmw-...,Men's / US S / EU 44-46 / 1,Used,White / blue,VintageRacingStuff,Bmw Ã— Leather Jacket Ã— Vintage,"Vintage leather racing BMW jacket\nSIZE:\nS ,m...",14,10,1,NaN,NaN,NaN,$200

In [82]:
df.loc[df.seller_name == "VintageRacingStuff"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 614 to 15747
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           155 non-null    object
 1   link            155 non-null    object
 2   size            155 non-null    object
 3   condition       155 non-null    object
 4   color           155 non-null    object
 5   seller_name     155 non-null    object
 6   designers       155 non-null    object
 7   description     155 non-null    object
 8   num_of_photos   155 non-null    int64
 9   num_of_tags     155 non-null    int64
 10  measurements    155 non-null    int64
 11  location        6 non-null      object
 12  shipping_price  6 non-null      float64
 13  price           6 non-null      object
 14  sold_price      149 non-null    object
dtypes: float64(1), int64(3), object(11)
memory usage: 19.4+ KB

In [84]:
df.loc[df.seller_name == "VintageRacingStuff"].location.unique()

array([nan, 'Europe'], dtype=object)

In [85]:
df.loc[df.seller_name == "VintageRacingStuff"].shipping_price.mean()

58.0